.logo2 {
	width:30px;
	height:30px;
}

.entry {
	height:100px;
}

.new {
 	margin-left:125px;
	color:#ABABAB;
}

.forms {
	margin-left:0px;
}



.posted {
	width:650px;
	margin:0px auto;
}

#time {
	font-size:8px;
	color:black;
}

.tables {
	width:800px;
	margin:0px auto;
	background-color:white;
}

.add {
	margin-left:26px;
	margin-top:5px;
	margin-bottom:5px;
}

body {
	color:black;
	background-color:#696969;
}

.post {
	font-size:20px;
}

#title {
	font-size:45px;
	color:#636363;
}

a {
	color:#C4000A;
}

a:hover {
	color:#CCC;
}

#post_time {
	color:black;
}

table {
	color:black;
}

table th {
	color:#C4000A;
}

.admin {
	color:black;
}

.admin:hover {
	color:#C4000A;
}

.form-actions {
	background-color:#696969;
	border-top:1px hidden; 
}

.navbar {
	width:850px;
	margin:0px auto 0px auto;
}

.control-group {
	margin-left:0px;
}

.alert {
	margin-bottom:2px;
}

#message {
	width:850px;
	margin:0px auto 3px auto;
}